body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;  
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#map {
    position: absolute;
    height: 100%;
    width: 75vw;
    top: 0;
    right: 0;
    background-color: grey;
}

#side-bar {
    position: absolute;
    width: 25vw;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
}

#input-search {
    margin: 0.3em;
    padding: 0.3em;
    width: 23vw;
    display: block;
    border-radius: 0.1em;
}

.info-window { 
    display: block;
}

.info-window > a {
    text-decoration: none;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0 0.3em;
    padding: 0;
}

li {
    padding: 0.5em;
    cursor: pointer;
}

li:hover {
    background-color: #ededed;
}